@media print {


  html {
    background: #fff;
  }
  div.classes {
    display: none;
  }

  div#ficha > div > table {
    width: inherit !important;
  }

  div#ficha > div > table > tbody > tr:nth-child(7) > td:nth-child(2) > table  {
    width: inherit !important;
  }
  div#ficha > div > table > tbody > tr:nth-child(7) > td:nth-child(2) > table > tbody {
    width: inherit !important;
  }
  div#ficha > div > table > tbody > tr:nth-child(7) > td:nth-child(2) > table > tbody  {
    padding: 0 !important;
  }
  div#ficha > div > table > tbody > tr:nth-child(7) > td:nth-child(2) > table > tbody > tr > td:nth-child(2) {
    padding: 0 !important;
  }
  div#ficha > div > table > tbody > tr:nth-child(7) > td:nth-child(2) > table > tbody > tr > td:nth-child(2) > table > tbody {
    width: inherit !important;
  }
  div#ficha > div > table > tbody > tr:nth-child(7) > td:nth-child(2) > table > tbody > tr:nth-child(odd) {
    background-color: rgba(50,50,50,0.3) !important;
  }

  div#ficha > div > table > tbody > tr:nth-child(7) > td:nth-child(2) > table > tbody > tr > td:last-child > table > tbody > tr:nth-child(5) > td:last-child {
    width: inherit !important;
    white-space: normal !important;
  }
  div#ficha > div > table > tbody > tr:nth-child(7) > td:nth-child(2) > table > tbody > tr > td:last-child > table > tbody > tr > td:last-child {
    background-color: inherit !important;
  }

  div#ficha > div > table > tbody > tr:nth-child(12) > td:nth-child(2) > table > tbody > tr {
    background-color: rgba(50,50,50,0.3) !important;
  }
  div#ficha > div > table > tbody > tr:nth-child(12) > td:nth-child(2) > table > tbody > tr > td:last-child {
    width: inherit !important;
    white-space: normal !important;
    background-color: inherit !important;
  }
  div#ficha > div > table > tbody > tr:nth-child(13) > td:nth-child(2) > table > tbody > tr {
    background-color: rgba(50,50,50,0.3) !important;
  }
  div#ficha > div > table > tbody > tr:nth-child(13) > td:nth-child(2) > table > tbody > tr > td:last-child {
    width: inherit !important;
    white-space: normal !important;
    background-color: inherit !important;
  }
  div#ficha > div > table > tbody > tr:nth-child(14) > td:nth-child(2) > table > tbody > tr {
    background-color: rgba(50,50,50,0.3) !important;
  }
  div#ficha > div > table > tbody > tr:nth-child(14) > td:nth-child(2) > table > tbody > tr > td:last-child {
    width: inherit !important;
    white-space: normal !important;
    background-color: inherit !important;
  }
  div#ficha > div > table > tbody > tr:nth-child(15) > td:nth-child(2) > table > tbody > tr {
    background-color: rgba(50,50,50,0.3) !important;
  }
  div#ficha > div > table > tbody > tr:nth-child(15) > td:nth-child(2) > table > tbody > tr > td:last-child {
    width: inherit !important;
    white-space: normal !important;
    background-color: inherit !important;
  }

  table > tbody {
    box-sizing: border-box !important;
    display: block !important;
    margin: 0 auto !important;
  }
  thead tr th {
    display: none;
  }
  td {
    font-size: 0.85em !important;
    box-sizing: border-box !important;
    padding: 2px !important;
  }
  div#ficha > div > table > tbody > tr:nth-child(7) > td:nth-child(2) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td {
    font-size: 0.9em !important;
  }
  tbody tr td {
    background-color: inherit !important;
    box-sizing: border-box !important;
  }
  tbody tr td:first-child {
    font-weight: bold;
    font-size: 0.75em !important;
    width: auto !important;
    border: 0 !important;
    background-color: inherit !important;
    box-sizing: border-box !important;
    padding: 2px !important;
    padding-right: 4px !important;
  }

  tbody tr td tbody tr td tbody tr td:last-child {
    background-color: rgba(50,50,50,0.2) !important;
    border: 0 !important;
  }
  tbody tr:nth-child(5) td tbody tr td:last-child {
    background-color: rgba(50,50,50,0.2) !important;
    border: 0 !important;
  }
  tbody tr:nth-child(6) td tbody tr td:last-child {
    background-color: rgba(50,50,50,0.2) !important;
    border: 0 !important;
  }
  tbody tr:nth-child(8) td tbody tr td:last-child {
    background-color: rgba(50,50,50,0.2) !important;
    border: 0 !important;
    white-space: normal !important;
  }
  tbody tr:nth-child(9) td tbody tr td:last-child {
    background-color: rgba(50,50,50,0.2) !important;
    border: 0 !important;
    white-space: normal !important;
  }
  tbody tr:nth-child(10) td tbody tr td:last-child {
    background-color: rgba(50,50,50,0.2) !important;
    border: 0 !important;
    white-space: normal !important;
  }
  tbody tr:nth-child(11) td tbody tr td:last-child {
    background-color: rgba(50,50,50,0.2) !important;
    border: 0 !important;
    white-space: normal !important;
  }
  tbody tr:nth-child(12) td tbody tr td:last-child {
    background-color: rgba(50,50,50,0.2) !important;
    border: 0 !important;
    white-space: normal !important;
  }
  tbody tr:nth-child(13) td tbody tr td:last-child {
    background-color: rgba(50,50,50,0.2) !important;
    border: 0 !important;
    white-space: normal !important;
  }
  tbody tr:nth-child(14) td tbody tr td:last-child {
    background-color: rgba(50,50,50,0.2) !important;
    border: 0 !important;
    white-space: normal !important;
  }
  tbody tr:nth-child(15) td tbody tr td:last-child {
    background-color: rgba(50,50,50,0.2) !important;
    border: 0 !important;
    white-space: normal !important;
  }
  tbody tr:nth-child(16) td tbody tr td:last-child {
    background-color: rgba(50,50,50,0.2) !important;
    border: 0 !important;
    white-space: normal !important;
  }
  tbody tr:nth-child(17) td tbody tr td:last-child {
    background-color: rgba(50,50,50,0.2) !important;
    border: 0 !important;
    white-space: normal !important;
  }
  tbody tr:nth-child(18) td tbody tr td:last-child {
    background-color: rgba(50,50,50,0.2) !important;
    border: 0 !important;
    white-space: normal !important;
  }
  tbody tr:nth-child(19) td tbody tr td:last-child {
    background-color: rgba(50,50,50,0.2) !important;
    border: 0 !important;
    white-space: normal !important;
  }
  td {
    max-width: inherit !important;
  }

  /*
  div#ficha > div > table > tbody > tr:nth-child(9)::after {
    content: '' !important;
    display: block !important;
    clear: both !important;
    height: 150px !important;
  }
  div#ficha > div > table > tbody > tr:nth-child(even) {
    background-color: #aaa !important;
  }
  */

  div#ficha > div > table > tbody > tr td {
    border: 0 !important;
    border-bottom: 1px solid #aaa !important;
  }

  header img {
    max-width: 200px;
    display: block;
    margin: 0 auto 6px auto;
  }

  div.fb-like {
    display: none;
  }
}
